@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body {
    font-family: 'Mochiy Pop P One', sans-serif;
    overflow-x: hidden;
    background-image: url(../assets/images/subtle-prism.svg);
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding-right: 50px;
    padding-left: 50px;

}


#slogan {
    font-size: 2vw;
    text-align: center;
    font-weight: 50px;
    margin-top: 20px;
    color: #000;
}
.content {
    font-size: 1.5vw;
    text-align: center;
    color: #000;
}
#main {
    margin-top: -200px;
    
}
#r-pizza {
   margin-left: -125px;

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover {
    color: #fff;
    background-color: #5c434d;
}
#as-seen-on {
    margin-top: -25px;
    flex-direction: row;
}
#as-seen-on img{
    margin: 8px;
}
#bottom {
    margin-top: -100px;
}
#deliver {
    margin-top: -250px;
}
#specs .btn-close{
    display: none;
}
#checkout .btn-close {
    display: none;
}
#confirm .btn-close {
    display: none;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;

  background-image: url(../assets/images/loader.gif);

  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;

}

@media only screen and (min-width: 600px) and (max-width: 1024px){
    #main {
        margin-top: -120px;
    }
}

@media only screen and (max-width: 425px){
	.col-sm-2 {
        display: none;;
    }
    #main-section {
        margin-top: 150px;
    }
}
