@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
body {
    font-family: 'Mochiy Pop P One', sans-serif;
    overflow-x: hidden;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding-right: 50px;
    padding-left: 50px;

}
#slogan {
    font-size: 2vw;
    text-align: center;
    font-weight: 50px;
    margin-top: 20px;
    color: #5c434d;
}
.content {
    font-size: 1.5vw;
    text-align: center;
    color: #5c434d;
}
#main {
    margin-top: -200px;
}
#r-pizza {
    margin-top: 105px;
    margin-bottom: 10px;

}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    color: #5c434d;
}
.btn:hover {
    background-color: #5c434d;
}